
<!DOCTYPE html>
<html>
<head>
    
<title>Frederick a Fashion category Flat bootstrap Responsive  Website Template | Gallery :: w3layouts</title>
      <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
     <!--------------------------------------------------->


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Demo for the tutorial: Styling and Customizing File Inputs the Smart Way" />
		<meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
		<meta name="author" content="Osvaldas Valutis for Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- remove this if you use Modernizr -->
		<script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>

    <!------------------------------------Above opload------------------>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Frederick Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->		
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="/js/jquery.min.js"> </script>
		  		 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- js -->
		 <script src="/js/bootstrap.js"></script>
	<!-- js -->
		<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
    
<!--header-->
<div class="banner banner5"> 
	<div class="header">
				<div class="logo">
					<a href="/home/index"><img src="/images/logo.png" /></a>
				</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="/home/Index2">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/home/about2">About</a></li>
						
						<!-- <li><a href="blog.html">Blog</a></li>-->
						<li class="active"><a href="/home/gallery3">Gallery</a></li>
						<li><a href="/home/image3">Image</a></li>
						<li><a href="/home/contact4">Contact Us</a></li>
                          
                          <li><a href="/home/changepass1">Change Password</a></li>
                          <li><a href="/home/Logout">Logout</a></li>
                           <li><div class="fb-share-button" data-href="http://rvrv.comule.com/rvstyle/" data-layout="button_count" data-mobile-iframe="true"></div></li>

					  </ul>
			  <div class="clearfix"> </div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	<div class="clearfix"> </div>
</div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <div class="clearfix"> </div>
</div>			 	
<!--/header-->
    
   
        <img src="@ViewBag.message" class="img-responsive " alt=""/>
       
                             <!------------------------------------------------------------>
  @using(Html.BeginForm("Upload1", "Home", FormMethod.Post, new { enctype="multipart/form-data" })){ 
                        <div>
                            <pre>
                                        <!-- Select a file: <input type="file" name="files[]" id="myFile" multiple />
         
                                         <input type="submit" value="Upload" />-->
                               
                                <div class="box">
					                                        <input type="file" name="files[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
					                                        <label for="file-5"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choose a file&hellip;</span></label>
				                                                                          
					                      <input type="submit" class="button-0"  value="UPLOAD"; >
                                     </div>
                      



                            </pre>
                           <style type="text/css">
                                    .button-0 {
                                        /*position: relative;*/
                                        padding: 10px 140px;
                                        /*margin: 0px 10px 10px 0px;*/
                                        /*float: left;*/
                                        border-radius: 10px;
                                        font-family: 'Helvetica', cursive;
                                        font-size: 25px;
                                        color: #FFF;
                                        text-decoration: none;  
                                        background-color: #3498DB;
                                        border-bottom: 5px solid #2980B9;
                                        text-shadow: 0px -2px #2980B9;
                                        /* Animation */
                                        transition: all 0.1s;
                                        -webkit-transition: all 0.1s;
                                    }

                                    .button-0:hover, 
                                    .button-0:focus {
                                        text-decoration: none;
                                        color: #fff;
                                    }

                                    .button-0:active {
                                        transform: translate(0px,5px);
                                        -webkit-transform: translate(0px,5px);
                                        border-bottom: 1px solid;
                                    }
                        </style>
							                                                                    

                               
                        </div> 
        }


                             <!------------------------------------------------------------>
<div class="container">
	<div class="portfolio">
		<h2>GALLERY111</h2>
		<div class="products-bottom">
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a1.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>			
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a2.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>
			<div class="col-md-4 work-grid">	
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a3.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>	
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a4.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a5.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a6.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a1.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a2.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/a3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/a3.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="/images/rv.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="/images/rv.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>				
			<div class="clearfix"> </div>	
		</div>
	</div>
</div>
	<!--script-->
	<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
			<script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

			<!---->
<!--footer-->
<div class="footer">
			 <div class="container">				 	
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>Navigation</h3>
					 <ul>
						 <li><a href="/home/Index2">Home </a></li>
						<li><a href="/home/about2">About</a></li>
						
						<!-- <li><a href="blog.html">Blog</a></li>-->
						<li ><a href="/home/gallery3">Gallery</a></li>
						<li><a href="/home/image3">Image</a></li>
						<li><a href="/home/contact4">Contact Us</a></li>
                          
                          <li><a href="/home/changepass1">Change Password</a></li>
                          <li><a href="/home/Logout">Logout</a></li>
					 </ul>
				 </div>
				 
				 <div class="col-md-3 get_in_touch ftr">
					  <h3>Get In Touch</h3>
					  <p>Opposite to Ichhra Police Station</p>
					  <p>Shah Jamal Lahore Pakistan</p>
					  <p>+92 000-0000-00</p>
					  <a href="mailto:mail@mlampah.com">www.example.com</a>
				 </div>
				  <div class="col-md-3 get_in_touch ftr">
					 
				 </div>
                 <div class="col-md-3 get_in_touch ftr">
					<div class="fb-page" data-href="https://www.facebook.com/PUCITACMStudentChapter/" data-tabs="timeline" data-width="500" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PUCITACMStudentChapter/"><a href="https://www.facebook.com/PUCITACMStudentChapter/">PUCIT - ACM Student Chapter</a></blockquote></div></div>
					 
				 </div>
				<div class="clearfix"> </div>
			 </div>
		  </div>
<!--/footer-->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
	<!--footer-starts-->
</body>
</html>

